.comments {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.comments-header {
  color: #f9f7f7;
}

.comment-card {
  margin: 10px 0px 5px 0px;
  padding-top: 10px;
  border-radius: 2rem;
  background-color: #112d4e;
  color: #f9f7f7;
  display: grid;
  grid-template-areas: "author" "body" "votes";
}

.comment-card > * {
  margin: 0 0 0 20px;
}

.comment-card__author-info {
  grid-area: author;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.comment-card__delete-btn {
  border-radius: 0.5rem;
  padding: 5px;
  margin-right: 20px;
  width: 80px;
  height: 30px;
  background-color: #3f72af;
  border: none;
  cursor: pointer;
  color: #f9f7f7;
}

.comment-card__body {
  margin-top: 20px;
  grid-area: body;
}

.comment-card__votes {
  grid-area: votes;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}

.comment-card__votes-icon {
  height: 25px;
}

.comments > p {
  color: white;
  font-size: 1.2rem;
}

.comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-header__btn {
  height: 30px;
  background-color: #f9f7f7;
  border-radius: 6px;
  border-width: 0;
  color: #112d4e;
  font-size: 1.05rem;
  cursor: pointer;
}

.new-comment {
  margin: 10px 0px 5px 0px;
  height: 200px;
  border-radius: 2rem;
  background-color: #112d4e;
  color: #f9f7f7;
}

.new-comment__form {
  margin: 10px 10px 10px 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.new-comment__input {
  background-color: #3f72af;
  padding: 0px;
  border: none;
  font-size: 1rem;
  color: #f9f7f7;
  border-radius: 1rem;
  padding: 10px;
  height: 60px;
  resize: none;
}

.new-comment__input::placeholder {
  color: #f9f7f7;
}

.new-comment__input:focus {
  outline: none;
}

.new-comment__submit {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.new-comment__submit > p {
  margin: 0;
}

.new-comment__submit-btn {
  width: 100px;
  align-self: center;
  height: 20px;
  background-color: #f9f7f7;
  border-radius: 6px;
  border-width: 0;
  color: #112d4e;
  font-size: 1.05rem;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .comments {
    justify-content: space-between;
    margin: 3rem 17rem 4rem 17rem;
  }

  .comment-card__author-info {
    grid-area: author;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }

  .comment-card__author-text {
    display: flex;
    gap: 4px;
  }

  .comment-card__delete-btn {
    border-radius: 0.5rem;
    padding: 5px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
  }

  .new-comment {
    height: 160px;
  }

  .new-comment__form {
    gap: 10px;
  }

  .new-comment__submit {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
