/* Header */

header {
  height: 10rem;
  width: 100%;
  background-color: #112d4e;
  color: #f9f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  align-self: center;
  font-size: 1.2rem;
}

.header__user-info {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.header__profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  /* Header */

  header {
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__title {
    font-size: 2rem;
    padding-left: 50px;
  }

  .header__user-info {
    font-size: 1.5rem;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding-right: 50px;
  }
}
