/* Reviews */

.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px 10px 10px;
}

.review-card {
  background: #dbe2ef;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.review-card__img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  justify-self: center;
}

.review-card__title {
  justify-content: space-around;
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: bold;
}

.review-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.review-card__engagement-stats {
  display: grid;
  grid-template-areas:
    "labels"
    "error";
  justify-content: center;
  margin-top: 20px;
}

.review-card__engagement-stats-labels {
  grid-area: labels;
  display: flex;
  gap: 30px;
}

.review-card__engagement-stats-error {
  align-self: center;
  grid-area: error;
}

.review-card__btn {
  height: 44px;
  width: 80%;
  margin: 12px 0 0;
  grid-area: btn;
  align-self: center;
  justify-self: center;
  background-color: #112d4e;
  border-radius: 6px;
  border-width: 0;
  color: #f9f7f7;
  font-size: 1.05rem;
  cursor: pointer;
}

.review-card__icon {
  height: 30px;
}

@media only screen and (min-width: 600px) {
  /* Reviews */

  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
  }

  .review-card {
    display: grid;
    grid-template-areas:
      "title title"
      "info img"
      "btn engagement"
      ". error";
  }

  .review-card__img {
    width: 400px;
    height: 250px;
    grid-area: img;
  }

  .review-card__title {
    grid-area: title;
  }

  .review-card__info {
    grid-area: info;
  }

  .review-card__engagement-stats {
    grid-area: engagement;
    justify-content: flex-end;
    padding: 10px 50px 0 0;
  }

  .review-card__engagement-stats-error {
    grid-area: error;
    justify-self: flex-end;
    padding: 0 50px 0 0;
    margin: 0px;
  }
}
