.flex-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.votes__button {
  background-color: transparent;
  border: none;
}

.votes__icon {
  height: 30px;
}

.comment-card__votes-icon {
  height: 25px;
}
