.error {
  color: red;
  font-weight: bold;
}

.error-white {
  font-size: 0.8rem;
}

a {
  color: #f9f7f7;
  text-decoration: none;
}

.loading-message {
  color: #f9f7f7;
  font-size: 2rem;
  text-align: center;
}
